$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$font-black: #333;
$link-blue:#007bff;
$hover-blue:#0056b3;
$bg-white:#fcfcfc;

$gutter-width : 10%;


$font-size-10: 1.0rem; 
$font-size-11: 1.1rem; 
$font-size-12: 1.2rem; 
$font-size-13: 1.3rem; 
$font-size-14: 1.4rem; 
$font-size-15: 1.5rem; 
$font-size-16: 1.6rem; 
$font-size-17: 1.7rem; 
$font-size-18: 1.8rem; 
$font-size-19: 1.9rem; 
$font-size-20: 2.0rem; 
$font-size-21: 2.1rem; 
$font-size-22: 2.2rem; 
$font-size-23: 2.3rem; 
$font-size-24: 2.4rem; 
$font-size-25: 2.5rem; 
$font-size-26: 2.6rem; 
$font-size-27: 2.7rem; 
$font-size-28: 2.8rem; 
$font-size-29: 2.9rem; 
$font-size-30: 3.0rem; 

$space-unit: 8px;