@import "variables";
@import "commonParts/reset";
// @import "commonParts/layout";
@import "commonParts/elementModule";
@import "commonParts/prettifyTheme";

// スコープ
// 1.common　全てのページに影響
	// common_header
	// common_footer
	// marker design

// 2.コンテンツページ


// 3.diary ページ

//1.common
// 基本body直下で全画面幅の中で両端にスペースを追加
body{
	overscroll-behavior: contain;
	&.acvtive-headerMenu{
		overflow: hidden;
	}
}
th{
	border-bottom: 1px solid $font-gray;
	font-size: $font-size-14;
	padding: 6px 4px;
}
td{
	border-bottom: 1px solid $border-gray;
	font-size: $font-size-14;
	padding: 6px 4px;
}
.ly-innnerWidth{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: $gutter-width;
	padding-left: $gutter-width;
}	

// common_header
.ly-header {
	padding: 24px 20px;
	display: flex;
	justify-content: space-between;
	transition: $transition;
	background: $bg-light-blue;
	align-items: center;
	.headerLogo{
		width: 100%;
		opacity: 1;
		position: relative;
		left: 0;
		transition: $transition;
		.svg-logo{
			max-width: 200px;
			width: 56%;
		}
	}
	.headerBurger{
		position: relative;
		top: 2px;
		width: 24px;
		height: 18px;
		position: relative;
		z-index: 100;
		span{
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color:$font-black;
			border-radius: 4px;
			transition: $transition;
			&:nth-of-type(1) {
			top: 0;
			}
			&:nth-of-type(2) {
			top: 8px;
			}
			&:nth-of-type(3) {
			bottom: 0;
			}
		}
		&.acvtive-headerMenu{
			span{
				background-color: #fff;
				&:nth-of-type(1) {
					transform:rotate(-45deg);
					top: 8px;
				}
				&:nth-of-type(2) {
					width: 0;
					left: 11px;
				}
				&:nth-of-type(3) {
					transform:rotate(45deg);
					top: 8px;
				}
			}
		}
	}
	&.acvtive-headerMenu{
		background: $bg-light-gray;
		.headerLogo {
			// opacity: .2;
			left: -2px;
		  }
	}
}
.headerNav{
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.headerMenu{
	position: absolute;
	// top: 68px;
	width: 93%;
	right: -100%;
	max-height:calc(100% - 72px); //これがないと縦にスクロールせず、画面からはみ出たメニューが見れない
	padding: 16px 0;
	text-align: left;
	background: #fff;
	overflow: scroll;
	list-style: none;
	box-shadow: $box-shadow;
	transition: $transition;
	z-index: 101;
	background: $bg-white;
	border-radius: 6px 0 0 6px;
	// overscroll-behavior: contain; // 親要素にスクロールが伝わらないようにする。「スクロールチェーン」の挙動を無効化
	&_detail{
		margin: 0;
		padding: 12px 16px 4px 16px;
		background: $bg-white;
		position: relative;
		& + .headerMenu_list{
			border-top: 1px solid $border-gray;
		}
	}
	&_ttl{
		position: relative;
		margin:0 0 8px 16px;
		font-size: $font-size-13;
		display: flex;
		justify-content: space-between;
		.summary_cntNumber{
			// display: flex;
			// align-items: center;
			// justify-content: center;
			// width: 18px;
			// height: 18px;
			// padding: 1px;
			// border-radius: 8px;
			// background: #eee;
			color: $font-gray;
			font-size: $font-size-12;
			// line-height: 1;
			// text-align: center;
		}
		&:hover {
			// cursor: pointer; /* カーソルを指マークに */
		}
		&::before {
			content: "";
			margin: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -12px;
			width: 5px;
			height: 5px;
			border: 4px solid transparent;
			border-left: 5px solid $font-light-gray;
			box-sizing: border-box;
			transition: $transition;
		}
		&:focus{
			outline: none;
			outline-offset: -1px;
		}
	}
	&_ul{
		list-style: none;
		border-top: 1px solid $border-gray;
		padding: 0;
		margin: 0;
		// display: none;
		visibility: collapse;
		transition: $transition;
		// height: 0;
		max-height: 0;
		// min-height: 0;
		&.is-active{
			// display: block;
			// height: 300px;
			// min-height: fit-content;
			visibility: visible;
			max-height: 400px;
			.headerMenu_link{
				padding: 12px 0 12px 8px;
			}
		}
	}
	&_li + .headerMenu_li{
		border-top: 1px dashed $border-gray;
	}
	&_link{
		outline: none;
		// outline-offset: -1px;
		font-size: $font-size-13;	
		font-weight: normal;
		// color: $font-black;
		line-height: 1.2;
		display: block;
		padding: 4px 0 4px 8px;
		transition: $transition;

	}
	/* オープン時 */
	&_detail[open]{
		.headerMenu_summary{
			&:before {
				transform: rotate(90deg);
				left: -16px;
				top: 5px;
			}
		}
		.headerMenu_ul{
			animation: fadeIn 0.5s ease;
		}
		@keyframes fadeIn {
			0% {
			  opacity: 0; /* 透明 */
			  transform: translateY(-10px); /* 上から表示 */
			}
			100% {
			  opacity: 1;
			  transform: none;
			}
		  }
	}
	// /* オープン時にアニメーションを設定 */
	// &_subNav{
	// 	list-style: none;
	// 	padding: 0;
	// 	animation: fadeIn 0.2s ease;
	// 	background: $bg-white;
	// 	margin: 0;
	// }
	// @keyframes fadeIn {
	// 	0% {
	// 	opacity: 0; /* 透明 */
	// 	transform: translateY(-10px); /* 上から表示 */
	// 	}
	// 	100% {
	// 	opacity: 1;
	// 	transform: none;
	// 	}
	// }
	// &_subList{
	// 	border-top: 1px solid $border-gray;
	// 	a{
	// 		display: block;
	// 		padding: 12px 16px 12px 20px;
	// 		font-size: $font-size-13;
	// 		line-height: 1.4;
	// 		color: $font-black;
	// 	}
	// }
	&.acvtive-headerMenu{
		display: block;
		opacity: 1;
		right: 0;
	}
}
.el-blackCover {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	height: 100vh;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	background-color: #000;
	transition: $transition;
	&.acvtive-headerMenu{
		opacity: 0.86;
		pointer-events: auto;

	}
}

// common_footer
.bl-footer{
	bottom: 0;
	height: 60px;
	background: $bg-black;
	padding: $space-unit *2 $gutter-width;
	.el-copyright{
		text-align: center;
		color: #fff;
		font-size: $font-size-12;
	}
}

// marker design
.el-marker {
	background: linear-gradient(to right, #fded06 50%, transparent 50%) 100% 0% / 200% auto no-repeat;
	transition: background-position .8s ease-out;
}
.el-marker.show {
	background-position: 0% 0%;
}


// 2.コンテンツページ
// コンテンツのページのarticle タグに追加し、hタグなどのスタイルを統一させる
.articleCnt{
	&_headerBox{
		background: $bg-light-blue;
		padding: 0;
		// margin-top: 1em;
		// margin-bottom: 32px;
		letter-spacing: 0.1em;
		position: relative;
		// min-height: 200px;
		h1{
			padding: 32px $gutter-width 16px;
			margin: 0;
			font-size: $font-size-19;
		}
		.tagLists{
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			padding:0 $gutter-width;
			margin-bottom: 8px;
			transform: translateY(0);
			&_list{
				font-size: $font-size-13;
				// border: 1px solid #ccc;
				border-radius: 40px;
				padding: 4px 8px;
				line-height: 1;
				color: $font-gray;
				background: #fff;
				& + .tagLists_list{
					margin-left: 3px;
				}
			}
		}
		.el-updateDate{
			font-size: $font-size-13;
			text-align: right;
			margin: 0 $gutter-width;
			padding-bottom: 8px;
			color: $font-gray;
		}
		.otherCnt{
			display: flex;
			padding: 0;
			// background: #e0eaec;
			// border-top: 1px dashed #e0eaec;
			align-items: center;
			// position: relative;
			&_pre, &_nxt{
				position: relative;
				height: 56px;
				width: 50%;
				display: flex;
				align-items: center;
				&:after{
					content: "";
					position: absolute;
					display: inline-block;
					width: 8px;
					height: 8px;
					top: calc(50% - 4px);
					border-bottom: 1px solid #0dabca;
					border-right: 1px solid #0dabca;
					transform: rotate(135deg);
				}
			}
			&_pre{
				padding: 10px 4px 10px 22px;
				background: $bg-light-gray;
				// background: #f9f8e9;
				left: 0;
				text-align: left;
				&:after{
					left: 10px;
					transform: rotate(135deg);
				}
			}
			&_nxt{
				padding: 10px 18px 10px 6px;
				background: #f5f5f5;
				right: 0;
				&:after{
					right: 10px;
					transform: rotate(-45deg);
				}
			}
			&_ttl{
				font-size: $font-size-13;
				line-height: 1.4;
				color: $font-gray;
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}
	// &_header.smaller{
	// 	.articleCnt_headerBox{
			// h1{
			// 	font-size: $font-size-11;
			// }
			// .tagLists, .el-updateDate, .otherCnt{
			// 	transform: translateY(-100px);
			// 	height: 0;
			// 	font-size: 0;
			// 	opacity: 0;
			// 	margin: 0;
			// 	padding: 0;
			// }
	// 	}
	// }
	&_summary{
		padding: 16px $gutter-width;
		&::before{
			content: "概要";
			background: $primary-turquoise;
			padding: 6px 8px;
			letter-spacing: 0.4em;
			text-indent: 0.4em;
			text-align: center;
			color: #fff;
			font-size: $font-size-12;
			font-weight: bold;
			display: table;
			margin: 0 auto 12px;
			line-height: 1;
		}
	}
	h2{
		// font-size: $font-size-17;
		padding: 4px 8px 8px;
		margin: 32px 0 40px;
		// display: table;
		font-size:$font-size-19;
		// text-align: center;
		// border-bottom: 2px dotted $primary-pink;
		border-bottom: 4px solid $primary-turquoise;
	}
	h3{
		border-left: 3px solid $font-black;
		// border: 1px solid $font-black;
		padding: 3px 10px;
		font-weight: bold;
		margin: 58px 0 16px;
	}
	.ly-section{
		padding: $space-unit*2 $gutter-width $space-unit*8;
	}
	.ly-cite{
		display: block;
		position: relative;
		margin: 42px 0;
		border: 1px solid $border-gray;
		font-style: normal;
		// box-shadow: 2px 2px 1px rgba(24,44,84,.2);
		&:before{
			content:"参考";
			top: 6px;
			left: 12px;
			display: block;
			font-size: $font-size-12;
			// font-weight: bold;
			color: $font-dark-gray;
			// background: $border-gray;
			position: absolute;
			// padding: 0 0 0 12px;
			// border-radius: 2px 2px 0 0;
		}
		&:after{
			content: url(/images/common/cite-arrow.svg);
			position: absolute;
			right: 8px;
			top: 8px;
		}
		&_link{
			font-size: $font-size-14;
			font-weight: bold;
			padding: 26px 28px 10px 12px;
			background: $bg-light-gray;
			color: $font-black;
			display: block;
		}
	}
	// 目次
	.bl-toc{
		position: sticky;
		top: 0;
		z-index: 10;
		padding: 0;
		margin:32px 0 16px;
		&_box{
			padding: 2px 16px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0;
			width: 100%;
			transition: all .4s;
			border-bottom:1px solid $bg-white;
			background: $bg-white;

		}
		&_ttl{
			text-align: center;
			font-size: $font-size-13;
			border-radius: 20px;
			border: 1px solid $border-gray;
			padding: 2px;
			min-width: 64px;
			&:after{
				content: "";
				left: 4px;
				position: relative;
				font-size: $font-size-11;
			}
		}
		&_lists{
			padding: 16px 5% 16px 2em;
			margin: 0 2% 16px 8%;
			list-style: none;
			display: none;
			border: 1px solid $border-gray;
			width: 90%;
			background: $bg-light-blue;
			border-radius: 4px;
			box-shadow: $box-shadow;
			position: absolute;
			transform: translateY(0);
			// display: block;
			transition: all 0s;
			z-index: 2;
			.tocList{
				position: relative;
				line-height: 1.5;
				padding: 4px 0;
				font-size: $font-size-13;
				a{
					color: $font-black;
					font-weight: bold;
				}
				&.active{
					font-weight: bold;
					&:before {
						content: '';
						position: absolute;
						// top: calc(50% - 4px);
						top: 10px;
						left: -12px;
						border-radius: 50%;
						width: 6px;
						height: 6px;
						background: skyblue;
					}
				}
			}
			.tocList:hover {
				color: $font-gray;
			}
			// .tocList:hover:not(.active)::before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 0.5rem;
			// 	left: -3px;
			// 	border-radius: 50%;
			// 	width: 5px;
			// 	height: 5px;
			// 	background: silver;
			// }

		}
		&.is-open{
			.bl-toc_ttl{
				// border: none;
				// background: none;
				&:after{
					content: "×";
				}
			}
			.bl-toc_lists{
				display: block;
			}
		}
		.miniHeaderTtl{
			opacity: 0;
			pointer-events: none;
			
			// position: absolute;
			font-size: $font-size-11;
			padding: 0 0 0 16px;
			margin: 0;
			line-height: 1.2;
			display: block;
			z-index: 1;
			transition: all .4s;
			position: relative;
			&::before{
				position: absolute;
				top: 4px;
				left: 0;
				width: 0;
				height: 0;
				border-bottom: 6px solid #a8e0ea;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
				content: "";
			}
		}
		&.tocTop{
			.bl-toc_box{
				background: $bg-light-gray;
				padding: 4px;
			}
			.bl-toc_ttl{
				border-bottom:1px solid $border-gray;
				background: #f8f8f8;
			}
			.bl-toc_lists{
				border: 1px solid $border-gray;
				width: 90%;
				background: #eef7fb;
				border-radius: 4px;
				box-shadow: $box-shadow;
				position: absolute;
				transform: translateY(calc(-100% - 60px));
				display: block;
				transition: all 0s;
				z-index: 2;
				transition: all .4s;
			}
			.miniHeaderTtl{
				opacity: 1;
				pointer-events: auto;
			}
			
			&.is-open{
				.bl-toc_lists{
					transform: translateY(0);
				}
			}
		}

	}
}
  






// diary ページ
.dairyTime{
font-weight: bold;
}

// browser rendering engine
.browserRenderingEngine{
	.browserTable{
		overflow: hidden;
		overflow-x: visible;
		white-space: nowrap;
		display: block;
		border-top: 1px solid $border-gray;
		border-left: 1px solid $border-gray;
		margin-bottom: 32px;
		th,td{
			padding: 16px 8px;
			width: 100px;
			border-right: 1px solid $border-gray;
			border-bottom: 1px solid $border-gray;
		}
	}
}


// js-nodelist
.js-nodelist{
	.nodeType{
		th{
			min-width: 100px;
		}
	}
}


//scroll top button
.el-scrollTop{
	position: fixed;
	top: 80%;
	right: 0;
	width: 64px;
	height: 40px;
	background: $bg-white;
	border: 1px solid $border-gray;
	border-right: none;
	border-radius: 4px 0 0 4px;
	opacity: 0;
	z-index: 20;
	&_txt{
		font-size: $font-size-12;
		position: absolute;
		top: 14px;
		left: 12px;
		color: $font-gray;
		&:after{
			content: "";
			position: absolute;
			display: inline-block;
			width: 8px;
			height: 8px;
			right: 16px;
			bottom: 14px;
			border-bottom: 1px solid $font-gray;
			border-right: 1px solid $font-gray;
			transform: rotate(-135deg);
			transition-duration: .3s;
		}
	}
}

.cntList{
	background: #fff url('/images/common/dot.svg');
	.swiper-container{
		// padding:16px 0 8px;
		.swiper-wrapper{
			align-items: flex-start;
			.swiper-slide{
			&.swiper-slide-active{
				// pointer-events: none;
				// font-weight: bold;
			}
			&.pagesActive{
				pointer-events: none;
				position: relative;
				
				.swiper-slide_ttl{
					color: $font-gray;
					font-size: 0;
					background: #fff;
					border: 1px solid $font-light-gray;
					display: table;
					border-radius: 30px;
					padding: 3px;
					margin: 12px auto 2px;
					width: 22px;
					height: 22px;
					// position: absolute;
				}
				&:first-letter{
					font-size: $font-size-14;
					line-height: 1;
				}
				&::after{
					position: absolute;
					content: "";
					width: 0;
					height: 0;
					border-left: 11px solid transparent;
					border-right: 11px solid transparent;
					border-top: 11px solid $bg-light-blue;
					top: 0;
					left: calc(50% - 11px);
				}
			}
			&_ttl{
				line-height: 1.1;
				text-align: center;
				// display: table;
				padding: 14px 3px 0;
				font-size: $font-size-11;
				color: $font-black;
				margin: 0 auto 6px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
			}
			//   &_tag{
			//     display: flex;
			//     list-style: none;
			//     padding: 0 10px;
			//     color: #ffffff;
			//     background: #8a8a8a;
			//     position: absolute;
			//     left: 0;
			//     top: 0;
			//     &_list{
			//       font-size: $font-size-13;
			//       padding: 0 3px 3px;
			//       line-height: 1.2;
			//       // margin-right: 6px;
			//       // border: 1px solid $border-gray;
			//       &:after{
			//         content: "/";
			//           font-size: $font-size-16;
			//           position: relative;
			//           top: 2px;
			//       }
			//       &:last-of-type::after{
			//         content: "";
			//       }
			//     }
			//   }
			//   &_title{
			//     font-size: $font-size-19;
			//     margin:0 0 12px;
			//     color: #0088ff;
			//   } 
			//   &_lead{
			//     font-size: $font-size-16;
			//     color: $font-light-gray;
			//     line-height: 1.6;
			//     margin: 0 0 6px;
			//   }
			//   &_updateDate{
			//     font-size: $font-size-13;
			//     color: $font-light-gray;
			//     position: absolute;
			//     right: 24px;
			//     margin: 0;
			//     bottom: 36px;
			//   }
			}
		}
		.swiper-button-next, .swiper-button-prev {
			// top: 50%;
			// width: 60px;
			// height: 36px;
			// bottom: 10px;
			// top: auto;
			// border-radius: 50%;
			// background: $bg-light-gray;
			// border: 1px solid $border-gray;
			// background-size: 13px 22px;
			background: none;
			// background-color: rgba(255, 255, 255, 0.5);

			&:after{
			content: "";
			position: absolute;
			display: inline-block;
			width: 10px;
			height: 10px;
			right: 25px;
			bottom: 13px;
			border-bottom: 1px solid $font-light-gray;
			border-right: 1px solid $font-light-gray;
			// transition-duration: .3s;
			}
			&:focus{
			outline: 0 !important;
			}
		}
		.swiper-button-prev {
			&:after{
			transform: rotate(135deg);
			}
		}
		.swiper-button-next {
			&:after{
			transform: rotate(-45deg);
			}
		}
		&.swiper-container-horizontal > .swiper-pagination-bullets{
			bottom: 18px;
			.swiper-pagination-bullet{
				background: $bg-light-gray;
				&.swiper-pagination-bullet-active{
					background: $primary-pink;
				}
			}
		}
	}
	&_index{
		display: flex;
		font-size: $font-size-10;
		color: $font-gray;
		justify-content: center;
		padding-bottom: 3px;
		&_active{
			color: $font-dark-gray;
		}
		&_all{

		}
	}
}