@import "variables";

// bootstrap custom
// common area
//each page

//bootstrap-custom
.wapper{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter-width/2;
  padding-left: $gutter-width/2;
  &__inner{
    width: 100%;
    // max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $gutter-width/2;
    padding-left: $gutter-width/2;
  }
}
.inner-box {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: $gutter-width/2;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter-width/2;
  margin-left: -$gutter-width/2; 
}


// common area
.header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 80px;
  background: $bg-white;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  transform: translateY(0);
  transition: all 600ms 0s ease;
  &.smaller {
    transform: translateY(0);
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    .header__inner{
      transform: translateY(0);
    }
  }
  &__inner{
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(0px);
    transition: all 600ms 0s ease;
    h1{
      text-align: center;
      font-family: 'Pacifico', cursive;
      letter-spacing: 0.14rem;
      font-size: $font-size-21;
    }
    .menu-trigger, .menu-trigger span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      float: right;
    }
    .menu-trigger{
      position: relative;
      top: -6px;
      margin: -24px 16px 0 0;
      width: 34px;
      height: 24px;
      span{
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #333;
        border-radius: 4px;
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: 11px;
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
      &.active{
        span{
          &:nth-of-type(1) {
            transform:rotate(-45deg);
            top: 12px;
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform:rotate(45deg);
            top: 12px;
          }
        }
      }
    }
    ul{
        display: none;
        position: absolute;
        opacity: 0;
        top: 55px;
        width: 100vw;
        height: 100vh;
        padding: 0;
        text-align: left;
        background: #fff;
        overflow: scroll;
        list-style: none;
        &.active{
          display: block;
          opacity: 1;
        }
        li{
          margin: 0;
          border-top: 1px solid #dedede;
          a{
            display: block;
            padding: 12px 16px 12px 20px;
            font-size: $font-size-14;
            color: $font-black;
          }
        }
    }
  }
}
@media only screen and (min-width: 1050px){
  .header {
    height: 180px;
    &.smaller {
      transform: translateY(-110px);
      .header__inner{
        transform: translateY(54px);
      }
    }
    &__innner{
      .pc-header-none {
        display: none !important;
      }
      ul{
        padding-left: 0;
        display: flex;
        float: right;
        margin-top: -40px;
        li{
          width: 84px;
        }
      }
    }
  }
}


//each page
.home{
  @extend .wapper;
  &__icon{
    text-align: center;
    &__image{
      width: 50%;
      max-width: 160px;
    }
  }
  &__name{
    text-align: center;
    font-size: $font-size-17;
    margin-bottom: $space-unit * 2;
  }
  &__profile{
    margin-bottom: $space-unit * 2;
  }
  &__menu{
    list-style: none;
    padding: 0;
    &__cnt{
      border: 1px solid $gray-200;
      background: #fff;
      width: 100%;
      min-height: 200px;
      margin-bottom: 16px;
      &__box{
        display: block;
        padding: $space-unit * 2;
        font-size: $font-size-14;
        color: $font-black;
        &__ttl{
          font-size: $font-size-18;
          font-weight: bold;
          padding-top: 8px;


        }
        &__txt{

        }
      }
    }
  }
}
