@import "variables";

.ly-homeIco{
  text-align: center;
  &_image{
    width: 50%;
    max-width: 160px;
    margin:0 auto $space-unit * 3;
  }
}
.ly-homeProfile{
  margin-bottom: $space-unit * 2;
}
// .ly-homeNews{
//   margin: 16px 0;
//   display: flex;
//   overflow: hidden;
//   overflow-x: scroll;
//   &_cnt{
//     height: 260px;
//     width: 260px;
//     display: table;
//     box-shadow: $box-shadow;
//     margin: 16px 6px;
//     padding: 16px;
//     background: #fff;
//     &:first-of-type{
//       margin-left: 10%;
//     }
//     &:last-of-type{
//       margin-right: 60px;
//     }
//   }
//   &_lead{
//     font-size: $font-size-13;
//     color: $font-black;
//     line-height: 1.6;
//   }
// }

// .slide-item{
//   height: 200px;
//   width: 500px;
//   background: pink;
//   color: #fff;
//   font-size: 3rem;
//   text-align: center;
//   &:nth-child(2){
//     background: skyblue;
//   }
//   &:nth-child(3){
//     background: green;
//   }
// }
.swiper-container{
  margin-bottom: 24px;
  .swiper-wrapper{
    .swiper-slide{
      &_cnt{
        box-shadow: $box-shadow;
        margin: 10px 0;
        padding: 42px 48px 16px;
        background: #fff;
        border-radius: 4px;
        height: 240px;
        position: relative;
      }
      &_tag{
        display: flex;
        list-style: none;
        padding: 0 10px;
        color: #ffffff;
        background: #8a8a8a;
        position: absolute;
        left: 0px;
        top: -6px;
        &_list{
          font-size: $font-size-13;
          padding: 0 3px 3px;
          line-height: 1.2;
          // margin-right: 6px;
          // border: 1px solid $border-gray;
          &:after{
            content: "/";
              font-size: $font-size-16;
              position: relative;
              top: 2px;
          }
          &:last-of-type::after{
            content: "";
          }
        }
      }
      &_title{
        font-size: $font-size-18;
        margin:0 0 12px;
      } 
      &_lead{
        font-size: $font-size-16;
        color: $font-black;
        line-height: 1.6;
        margin: 0 0 6px;
      }
      &_updateDate{
        font-size: $font-size-13;
        color: $font-light-gray;
        position: absolute;
        right: 24px;
        margin: 0;
        bottom: 32px;
      }
    }
  }
  .swiper-button-next, .swiper-button-prev {
    // top: 50%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid $border-gray;
    // background-size: 13px 22px;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);

    &:after{
      content: "";
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
      right: 13px;
      bottom: 13px;
      border-bottom: 1px solid $font-gray;
      border-right: 1px solid $font-gray;
      // transition-duration: .3s;
    }
    &:focus{
      outline: 0 !important;
    }
  }
  .swiper-button-prev {
    transform: rotate(135deg);
  }
  .swiper-button-next {
    transform: rotate(-45deg);
  }
  &.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 18px;
  }
}

.ly-diary{
  margin: 16px 0 48px;
  padding: 16px $gutter-width;
  background: #fff;
  border-top: 1px dashed $border-gray;
  border-bottom: 1px dashed $border-gray;
  color: $font-black;
  &_title{
    font-size: $font-size-16;
    font-weight: bold;
    margin: 4px 0 12px;
  }
}
.ly-homeProfile{
  margin-bottom: 48px;
  padding: 16px $gutter-width;
}

.bl-categoryList{
  list-style: none;
  padding: 0;
  margin: 0;
  background:$bg-black;
  &_cnt{
    // background: #fff;
    width: 100%;
    padding: $space-unit * 1 $space-unit * 4;
    border-bottom: 1px solid #555;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      display: inline-block;
      width: 8px;
      height: 8px;
      right: $space-unit * 5;
      bottom: 20px;
      border-bottom: 1px solid $font-gray;
      border-right: 1px solid $font-gray;
      transform: rotate(45deg);
      transition-duration: .3s;
    }
    &.is-active:after{
      transform: rotate(-135deg);
    }
  }
  &_index{
    display: block; 
    color: $font-black;
    // &:hover{
    //   border-color:$gray-100;
    //   color: $font-gray;
    // }
  }
  &_ttl{
      display: flex;
      align-items: baseline;
    h2{
      font-size: $font-size-15;
      font-weight: normal;
      padding-right: 6px;
      margin: 0;
      color: #fff;
    }
    span{
      font-size: $font-size-13;
      color: #fff;
      align-items: center;
    }
  }
  &_txt{
    font-size: $font-size-15;
    margin-bottom: 0;
  }
  &_menu{
    line-height: 0;
    height: 0;
    overflow: hidden;
    opacity: 0.3;
    transition-duration: .3s;
    padding: 0 20px;
    background: $bg-light-gray;
    &.is-open{
      line-height: normal; /* numberに書き換える*/
      height: auto;
      opacity: 1;
      padding: 10px 20px;
      ul{
        li{
          padding: 10px;
          // border-bottom:1px solid #fff;
        }
      }
    }
  }
  &_menuList{
    list-style: none;
    padding-left: 0;
    li{
      padding: 0 10px;
      border-bottom:1px solid #fff;
      transition-duration: .3s;
      &:last-of-type{
        border-bottom: none;
      }
    }
  }
}
