@import "variables";
// home
.bl-contentsList{
    list-style: none;
    padding: 0;
    &_cnt{
      background: #fff;
      width: 100%;
      margin-top: 16px;
      padding: $space-unit * 3 $space-unit * 2;
      border: 1px solid $gray-200;
    }
    &_index{
      display: block; 
      color: $font-black;
      // &:hover{
      //   border-color:$gray-100;
      //   color: $font-gray;
      // }
    }
    &_ttl{
      font-size: $font-size-17;
      font-weight: bold;
    }
    &_txt{
      font-size: $font-size-15;
      margin-bottom: 0;
    }
    &_menu{
      line-height: 0;
      height: 0;
      overflow: hidden;
      opacity: 0.3;
      transition-duration: .3s;
      padding: 0 20px;
      background: $gray-200;
      ul{
        list-style: none;
        li{
          padding: 0 10px;
          border-bottom:1px solid #fff;
          transition-duration: .3s;
          &:last-of-type{
            border-bottom: none;
          }
        }
      }
      &.is-open{
        line-height: normal; /* numberに書き換える*/
        height: auto;
        opacity: 1;
        padding: 20px ;
        ul{
          li{
            padding: 10px;
            // border-bottom:1px solid #fff;
          }
        }
      }
    }
}

// コンテンツのページのarticle タグに追加し、hタグなどのスタイルを統一させる
.articleCnt{
  h1{
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dotted #f76eb5;
    text-align: center;
    letter-spacing: 0.1em;
  }
  h2{
    // font-size: $font-size-17;
    border-left: 2px solid #f76eb5;
    padding: 0 2px 0 6px;
    margin: 3em 0 2em;
  }
  h3{
    border: 1px solid $font-black;
    padding: 1px 10px;
    display: inline-block;
    font-weight: normal;
  }
}