@import "variables";

html{
	scroll-padding-top: 80px;
}

.blockquote{
    margin: 0 0 28px;
    padding: 30px 20px 35px 55px;
    position: relative;
    border: 1px #eee solid;
}

// menuなどで使うリスト
ul.noListStyle{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
// 一行でテキスト切り捨て
.textTruncate{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
// 複数行でテキスト切り捨て 3行
.threeLinesTruncate{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.el-btn{
	// 親要素のtext-align を継承できるinline-block が都合がいい
	display: inline-block;
	// ボタン幅をサイトで統一したい場合につける
	width :300px;
	// スクリーンサイズが狭くなったときにはみ出すので
	max-width: 100%;
	// heightはボタンに使わない。テキストが改行したときにはみでるので。高さはpadding で調節する
	padding: 20px 10px;
	text-align: center;
	color: $font-black;
	margin-bottom: $space-unit*2;
	border: 1px solid currentColor;
	
	transition: .25s;
	
	&:hover, &:focus{
		background: $font-black;
		color: #fff;
	}
	&--center{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&--angle{
		position: relative;
		&:after{
			right: 20px;
			width: 8px;
			height: 8px;
			border-style: solid;
			border-width: 1px 1px 0 0;
			border-color: $font-black;
			transform: translate(0, -50%) rotate(45deg);
			content: "";
			display: block;
			position: absolute;
			top:50%;
			transition: border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
			transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
			transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
			content: "";
		}
		&:hover, &:focus{
			&::after{
				transform: translate(3px, -50%) rotate(45deg);
				border-color: #fff;
			}
		}
	}
}

// コード表示で自動で閉じタグがつく特殊問題の対処。pre ではなく div　で囲いスタイルを追加する。favicon.php で使用
.displayCode{
	word-break: break-all;
    background: #333;
    color: #ececec;
    font-size: $font-size-14;
    overflow: auto;
	white-space: nowrap;
	padding: 10px;
	margin-bottom: 2rem;
	display: block;
}
