@import "variables";
// 基本body直下で全画面幅の中で両端にスペースを追加
.ly-baseWrap{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: $gutter-width;
	padding-left: $gutter-width;
}

// headerタグに追加するスタイル
.ly-header {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 80px;
	background: $bg-white;
	align-items: center;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 100;
	transform: translateY(0);
	transition: all 600ms 0s ease;
	&.smaller {
	  transform: translateY(0);
	  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
	  .header__inner{
		transform: translateY(0);
	  }
	}
	&__inner{
	  width: 100%;
	  max-width: 1140px;
	  margin-right: auto;
	  margin-left: auto;
	  transform: translateY(0px);
	  transition: all 600ms 0s ease;
	  .web-ttl{
		text-align: center;
		font-family: 'Pacifico', cursive;
		letter-spacing: 0.14rem;
		font-size: $font-size-21;
		margin-bottom: 4px;
	  }
	  .menu-trigger, .menu-trigger span {
		display: inline-block;
		transition: all .4s;
		box-sizing: border-box;
		float: right;
	  }
	  .menu-trigger{
		position: relative;
		top: -6px;
		margin: -24px $gutter-width/2 0 0;
		width: 34px;
		height: 24px;
		span{
		  position: absolute;
		  left: 0;
		  width: 100%;
		  height: 2px;
		  background-color: #333;
		  border-radius: 4px;
		  &:nth-of-type(1) {
			top: 0;
		  }
		  &:nth-of-type(2) {
			top: 11px;
		  }
		  &:nth-of-type(3) {
			bottom: 0;
		  }
		}
		&.active{
		  span{
			&:nth-of-type(1) {
			  transform:rotate(-45deg);
			  top: 12px;
			}
			&:nth-of-type(2) {
			  opacity: 0;
			}
			&:nth-of-type(3) {
			  transform:rotate(45deg);
			  top: 12px;
			}
		  }
		}
	  }
	  ul{
		  display: none;
		  position: absolute;
		  opacity: 0;
		  top: 55px;
		  width: 100vw;
		  height: 100vh;
		  padding: 0;
		  text-align: left;
		  background: #fff;
		  overflow: scroll;
		  list-style: none;
		  &.active{
			display: block;
			opacity: 1;
		  }
		  li{
			margin: 0;
			border-top: 1px solid #dedede;
			a{
			  display: block;
			  padding: 12px 16px 12px 20px;
			  font-size: $font-size-14;
			  color: $font-black;
			}
		  }
	  }
	}
  }
  .footer{
	bottom: 0;
	height: 100px;
	background: $gray-200;
	padding: $space-unit *2 $gutter-width;
  }




  
//   @media only screen and (min-width: 1050px){
// 	.header {
// 	  height: 180px;
// 	  &.smaller {
// 		transform: translateY(-110px);
// 		.header__inner{
// 		  transform: translateY(54px);
// 		}
// 	  }
// 	  &__innner{
// 		.pc-header-none {
// 		  display: none !important;
// 		}
// 		ul{
// 		  padding-left: 0;
// 		  display: flex;
// 		  float: right;
// 		  margin-top: -40px;
// 		  li{
// 			width: 84px;
// 		  }
// 		}
// 	  }
// 	}
//   }