@import "variables";
//common
// 基本body直下で全画面幅の中で両端にスペースを追加
.ly-innnerWidth{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: $gutter-width;
	padding-left: $gutter-width;
}	
// header下とh1の間のスペース
.ly-UnderheaderSpace{
	padding-top: 24px;
}
body{
	overscroll-behavior: contain;
	// &.aaa{
	// 	overscroll-behavior: contain;
	// }
}
// html.scroll-prevent {
// 	/*動き固定*/
// 	position: fixed;
// 	/*奥行きを管理*/
// 	z-index: -1;
// 	/*下2つで背景を元のサイズのまま表示することができる*/
// 	width: 100%;
// 	height: 100%;
// 	top: auto;
//   }
// headerタグに追加するスタイル
.ly-header {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 80px;
	background: rgba(255, 255, 255, 0.8);
	align-items: center;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 110;
	transform: translateY(0);
	transition: $transition;
	&__inner{
		width: 100%;
		// max-width: 1140px;
		margin-right: auto;
		margin-left: auto;
		transform: translateY(0px);
		transition: $transition;
		.web-ttl{
			text-align: center;
			font-family: 'Pacifico', cursive;
			letter-spacing: 0.14rem;
			font-size: $font-size-21;
			font-weight: normal;
			margin-bottom: 0;
			position: relative;
			left: -2%;
			a{
				transition: $transition;
				color: #333;
				position: relative;
				top: 0;
				.svg-logo{
					max-width: 300px;
					width: 50%;
				}
			}
	  	}
		.menu-trigger{
			display: inline-block;
			box-sizing: border-box;
			float: right;
			position: relative;
			top: -6px;
			margin: -24px $gutter-width 0 0;
			width: 34px;
			height: 24px;
			z-index: 102;
			span{
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				background-color:$font-black;
				border-radius: 4px;
				transition: all .4s;
				&:nth-of-type(1) {
				top: 0;
				}
				&:nth-of-type(2) {
				top: 11px;
				}
				&:nth-of-type(3) {
				bottom: 0;
				}
			}
		}
		.headerMenu{
			// display: none;
			position: absolute;
			// opacity: 0;
			top: 58px;
			width: 0%;
			left: 100%;
			height:calc(100vh - 80px); //これがないと縦にスクロールせず、画面からはみ出たメニューが見れない
			padding: 0 0 164px;
			text-align: left;
			background: #fff;
			overflow: scroll;
			list-style: none;
			box-shadow: $box-shadow;
			transition: $transition;
			z-index: 101;
			background: $bg-light-gray;
			// overscroll-behavior: contain; // 親要素にスクロールが伝わらないようにする。「スクロールチェーン」の挙動を無効化
			&_list{
				margin: 0;
				border-top: 1px solid $border-gray;
				padding: 16px 16px 16px 30px;
				font-size: $font-size-16;
				font-weight: bold;
				background: $bg-light-gray;
				position: relative;
				&:hover {
					cursor: pointer; /* カーソルを指マークに */
					background-color: #EFEFEF;
				}
				&:after {
					content: "";
					margin: auto;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 16px;
					width: 5px;
					height: 5px;
					border: 4px solid transparent;
					border-left: 5px solid $font-light-gray;
					box-sizing: border-box;
					transition: .1s;
				}
				&:focus{
					outline: 1px solid $border-gray;
					outline-offset: -1px;
				}
			}
			/* オープン時 */
			details[open] .headerMenu_list{
				// color: $font-gray;
				outline: 1px solid $border-gray;
				outline-offset: -1px;
				&:after {
					transform: rotate(90deg);
					left: 14px;
					top: 5px;
				}
			}
			/* オープン時にアニメーションを設定 */
			&_subNav{
				list-style: none;
				padding: 0;
				animation: fadeIn 0.2s ease;
				background: $bg-white;
			}
			@keyframes fadeIn {
				0% {
				opacity: 0; /* 透明 */
				transform: translateY(-10px); /* 上から表示 */
				}
				100% {
				opacity: 1;
				transform: none;
				}
			}
			&_subList{
				border-top: 1px solid $border-gray;
				a{
					display: block;
					padding: 12px 16px 12px 20px;
					font-size: $font-size-15;
					color: $font-black;
				}
			}
		}
	}
	&.active{
		background: $bg-light-gray;
		// .web-ttl{
		// 	a{
		// 		color: #fff;
		// 	}
		// }
		.menu-trigger{
			span{
				// background:#fff;
				&:nth-of-type(1) {
					transform:rotate(-45deg);
					top: 12px;
				}
				&:nth-of-type(2) {
				//   opacity: 0;
					width: 0;
					left: 15px;
				}
				&:nth-of-type(3) {
					transform:rotate(45deg);
					top: 12px;
				}
			}
		}
		// @keyframes headerMenu {
		// 	0% {
		// 		// width: 0%;		   
		// 	}
		// 	20% {
		// 		width: 86%;	   
		// 	}
		// 	100% {
		// 		width: 86%;
		// 	}
		// }
		.headerMenu{
			display: block;
			opacity: 1;
			width: 100%;
			left: 0;
			// animation: headerMenu .3s ease-out both;
		}
	}
	&.scroll {
		transform: translateY(-80px);
		// background-color: rgba(255, 255, 255, 0);
		// .ly-header__inner{
		// 	transform: translateY(16px);
		// 	.web-ttl{
		// 		a{
		// 			opacity: 0;
		// 			top: -40px;
		// 			position: relative;
		// 		}
		// 	}
		// 	.headerMenu{
		// 		top: 0;
		// 		height:100vh;
		// 	}
		// }
		// .hamburger{
		// 	top: 41px;
		// 	height:calc(60vh - 46px);
		// }
	}
	// &.active{
	// 	background: #fff;
	// 	.ly-header__inner{
	// 		.web-ttl{
	// 			a{
	// 				color: $gray-400;
	// 			}
	// 		}
	// 		.menu-trigger{
	// 			span{
	// 				&:nth-of-type(1) {
	// 					transform:rotate(-45deg);
	// 					top: 12px;
	// 				}
	// 				&:nth-of-type(2) {
	// 				//   opacity: 0;
	// 					width: 0;
	// 					left: 15px;
	// 				}
	// 				&:nth-of-type(3) {
	// 					transform:rotate(45deg);
	// 					top: 12px;
	// 				}
	// 			}
	// 		}
	// 		.hamburger{
	// 			display: block;
	// 			opacity: 1;
	// 		}
	// 	}
	// }
}
.el-blackCover {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 0;
	height: 100vh;
	opacity: 0;
	background-color: rgba(197, 197, 197, 0.9);
	@keyframes cover-show {
		0% {
			opacity: 0;    
		}
		100% {
			opacity: 100;
		}
	}
	&.active{
		display: block;
		width: 100%;
		animation: cover-show .3s ease-out both;
	}
}
.ly-footer{
	bottom: 0;
	height: 60px;
	background: $bg-black;
	padding: $space-unit *2 $gutter-width;
	.el-copyright{
		text-align: center;
		color: #fff;
		font-size: $font-size-12;
	}

}
.ly-toc{
	// background: #fff;
	position: sticky;
	top: 0;
	z-index: 10;
	padding: 0;
	margin:0 0 32px;
	// background: $bg-light-gray;
	.ly-toc_ttl{
		// margin-bottom: $space-unit*2;
		text-align: center;
		font-size: $font-size-12;
		color: $font-gray;
		font-weight: bold;
		padding: 4px 8px;
		border: 1px solid $border-gray;
		border-radius: 4px;
		display: table;
		margin: 16px auto 0;
		background: #fff;
	}
	.ly-toc_lists{
		padding-top: 16px;
		padding-bottom: 16px;
		padding-right: 16px;
		margin-bottom: 0;
		list-style: none;
		display: none;
		&.active{
			display: block;
		}
		.tocList{
			position: relative;
			line-height: 1.5;
			padding: 6px 0;
			font-size: $font-size-13;
			a{
				color: $font-black;
				font-weight: bold;
			}
			&.active{
				font-weight: bold;
				&:before {
					content: '';
					position: absolute;
					top: calc(50% - 4px);
					left: -12px;
					border-radius: 50%;
					width: 6px;
					height: 6px;
					background: skyblue;
				}
			}
		}
		.tocList:hover {
			background: whitesmoke;
			color: royalblue;
		  }
		.tocList:hover:not(.active)::before {
			content: '';
			position: absolute;
			top: 0.5rem;
			left: -3px;
			border-radius: 50%;
			width: 5px;
			height: 5px;
			background: silver;
		  }

	}
	.miniHeaderTtl{
		display: none;
		position: absolute;
		font-size: $font-size-11;
		padding: 8px 32px 8px 16px;

	}
	&.smaller{
		.ly-toc_ttl{
			text-align: right;
			padding: 8px 16px;
			border: none;
			background: #f8f8f8;
			display: block;
			margin: 0;
		}
		.ly-toc_lists{
			border: 1px solid $border-gray;
			width: 90%;
			right: 8px;
			background: #eef7fb;
			border-radius: 4px;
			box-shadow: $box-shadow;
			position: absolute;
			transform: translateY(calc(-100% - 40px));
			display: block;
			transition: all .4s;
			&.active{
				transform: translateY(0);
				
			}
			
		}
		.miniHeaderTtl{
			display: block;
		}
	}

}
.ly-section{
	margin-bottom: $space-unit*12;
}
.ly-cite{
	display: block;
	position: relative;
    border-radius: 4px;
	margin: 42px 0;
	border: 2px solid $border-gray;
	box-shadow: 2px 2px 1px rgba(24,44,84,.2);
	&:before{
		content:"参考サイト";
		top: -19px;
		left: -1px;
		display: block;
		font-size: $font-size-12;
		font-weight: bold;
		color: $font-dark-gray;
		background: $border-gray;
		position: absolute;
		padding: 0 8px;
		border-radius: 2px 2px 0 0;
	}
	&:after{
		content: url(/images/common/cite-arrow.svg);
		position: absolute;
		right: 8px;
		top: 8px;
	}
	&_link{
		font-size: $font-size-14;
		font-weight: bold;
		font-style: normal;
		padding: 16px;
		background: #fff;
		color: $font-black;
		display: block;
	}
}

// js yellow marker animation 
.important-marker {
    background: linear-gradient(to right, #fded06 50%, transparent 50%) 100% 0% / 200% auto no-repeat;
    transition: background-position .8s ease-out;
}

//scroll top button
.el-scrollTop{
	position: fixed;
	bottom: 64px;
	right: 0;
	width: 40px;
	height: 40px;
	background: $bg-white;
	border: 1px solid $border-gray;
	border-right: none;
	border-radius: 4px 0 0 4px;
	opacity: 0;
	z-index: 2;
	&:after{
		content: "";
		position: absolute;
		display: inline-block;
		width: 8px;
		height: 8px;
		right: 16px;
		bottom: 14px;
		border-bottom: 1px solid $font-gray;
		border-right: 1px solid $font-gray;
		transform: rotate(-135deg);
		transition-duration: .3s;
	}
}