@import "variables";



.ly-toc{
	position: sticky;
	top: 0;
	z-index: 10;
	padding: 0;
	margin:0 0 64px;
	.ly-toc_ttl{
		text-align: right;
		padding: 12px 16px;
		display: block;
		margin: 0;
		width: 100%;
		font-size: $font-size-13;
		transition: all .4s;
		border-bottom:1px solid $bg-white;
		background: $bg-white;
		&:after{
			content: "[開く]";
			left: 4px;
			position: relative;
			font-size: $font-size-11;
		}
	}
	.ly-toc_lists{
		padding: 16px 5% 16px 2em;
		margin: 0 5% 16px;
		list-style: none;
		display: none;
		border: 1px solid $border-gray;
		width: 90%;
		background: $bg-light-blue;
		border-radius: 4px;
		box-shadow: $box-shadow;
		position: absolute;
		transform: translateY(0);
		// display: block;
		transition: all 0s;
		z-index: 2;
		.tocList{
			position: relative;
			line-height: 1.5;
			padding: 4px 0;
			font-size: $font-size-13;
			a{
				color: $font-black;
				font-weight: bold;
			}
			&.active{
				font-weight: bold;
				&:before {
					content: '';
					position: absolute;
					top: calc(50% - 4px);
					left: -12px;
					border-radius: 50%;
					width: 6px;
					height: 6px;
					background: skyblue;
				}
			}
		}
		.tocList:hover {
			background: whitesmoke;
			color: royalblue;
		  }
		.tocList:hover:not(.active)::before {
			content: '';
			position: absolute;
			top: 0.5rem;
			left: -3px;
			border-radius: 50%;
			width: 5px;
			height: 5px;
			background: silver;
		  }

	}
	&.active{
		.ly-toc_ttl{
			// border: none;
			// background: none;
			&:after{
				content: "[閉じる]";
			}
		}
		.ly-toc_lists{
			display: block;
		}
	}
	.miniHeaderTtl{
		opacity: 0;
		position: absolute;
		font-size: $font-size-11;
		padding: 12px 32px 8px 16px;
		margin: 0;
		display: block;
		z-index: 1;
		transition: all .4s;
	}
	&.smaller{
		.ly-toc_ttl{
			border-bottom:1px solid $border-gray;
			background: #f8f8f8;
		}
		.ly-toc_lists{
			border: 1px solid $border-gray;
			width: 90%;
			background: #eef7fb;
			border-radius: 4px;
			box-shadow: $box-shadow;
			position: absolute;
			transform: translateY(calc(-100% - 60px));
			display: block;
			transition: all 0s;
			z-index: 2;
		}
		.miniHeaderTtl{
			opacity: 1;
		}
		
		&.active{
			.ly-toc_lists{
				transform: translateY(0);
				transition: all .4s;
			}
		}
	}

}
.ly-section{
	margin-bottom: $space-unit*12;
	padding-left: 5%;
	padding-right: 5%;
}
.ly-cite{
	display: block;
	position: relative;
    border-radius: 4px;
	margin: 42px 0;
	border: 2px solid $border-gray;
	box-shadow: 2px 2px 1px rgba(24,44,84,.2);
	&:before{
		content:"参考サイト";
		top: -19px;
		left: -1px;
		display: block;
		font-size: $font-size-12;
		font-weight: bold;
		color: $font-dark-gray;
		background: $border-gray;
		position: absolute;
		padding: 0 8px;
		border-radius: 2px 2px 0 0;
	}
	&:after{
		content: url(/images/common/cite-arrow.svg);
		position: absolute;
		right: 8px;
		top: 8px;
	}
	&_link{
		font-size: $font-size-14;
		font-weight: bold;
		font-style: normal;
		padding: 16px;
		background: #fff;
		color: $font-black;
		display: block;
	}
}

// js yellow marker animation 
.important-marker {
    background: linear-gradient(to right, #fded06 50%, transparent 50%) 100% 0% / 200% auto no-repeat;
    transition: background-position .8s ease-out;
}

//scroll top button
.el-scrollTop{
	position: fixed;
	top: 64px;
	right: 0;
	width: 40px;
	height: 40px;
	background: $bg-white;
	border: 1px solid $border-gray;
	border-right: none;
	border-radius: 4px 0 0 4px;
	opacity: 0;
	z-index: 20;
	&:after{
		content: "";
		position: absolute;
		display: inline-block;
		width: 8px;
		height: 8px;
		right: 16px;
		bottom: 14px;
		border-bottom: 1px solid $font-gray;
		border-right: 1px solid $font-gray;
		transform: rotate(-135deg);
		transition-duration: .3s;
	}
}