<% var pageData = { pageTitle: "Code Memoaewrrgaaaw"} %>
<%- include('/Users/porcokafuka/projects/porcotasso.github.io/src/html/_partial/wrapper-head', pageData) %>

<main class="home">
    <div class="home__icon">
        <img class="home__icon__image" src="/images/common/icon.jpg" alt="porco tasso">
        <h2>porco tasso</h2>
    </div>

    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal02">
    詳しく見る
    </button>
    <!-- モーダル02 -->
    <div class="modal fade" id="modal02" tabindex="-1" role="dialog" aria-labelledby="modal01-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal02-label">雑貨コーナー</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                <img alt="#" src="img/about03.jpg" class="img-fluid">
                </p>
                <p>店内には作家さんの手作り雑貨を展示、販売しております。委託販売をご希望の作家さんは お問合せフォームより お問合せください。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>


        
    <ul class="home__menu">
        <li><a href="">htmlとcssのコーディングのこと</a></li>
        <li><a href="">イラストと絵</a></li>
        <li><a href="">昔してた３Dで何かをしたい</a></li>
        <li><a href="">建築は創作知識の最大限の質が必要</a></li>
        <li><a href="">二胡</a></li>
    </ul>



        <div class="main">
            <div class="title-box">
                <h2 class="text-success">bootstrap</h2>
            </div>
            <h1>h1</h1>
            <h2>h2</h2>
            <h3>h3</h3>
            <h4>h4</h4>
            <h5>h5</h5>
            <h6>h6</h6>
            <p>ptag</p>
            <a href="ssssss">sssssss</a>
            <ul>
                <li>list tag</li>
                <li>list tag</li>
                <li>list tag</li>
                <li>list tag</li>
            </ul>
            <table>
                <thead>
                    <tr>git
                        <th>1111</th>
                        <th>1111</th>
                        <th>1111</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>aaaaa</th>
                        <td>2345</td>
                        <td>2345</td>
                    </tr>
                    <tr>
                        <th>aaaaa</th>
                        <td>2345</td>
                        <td>2344</td>
                    </tr>
                </tbody>
            </table>
            <div class="display-grid">
                <div>aaaaaaaa</div>
                <div>aaaaaaaa</div>
                <div>aaaaaaaa</div>
                <div>aaaaaaaa</div>
                <div>aaaaaaaa</div>
                <div>aaaaaaaa</div>
                <div>aaaaaaaa</div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">アクティブ</a>
                </li>
                <li class="nav-item dropdown">
                    <!--ここからドロップダウン-->
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">ドロップダウン</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">リンク1</a>
                        <a class="dropdown-item" href="#">リンク2</a>
                        <a class="dropdown-item" href="#">リンク3</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">その他リンク</a>
                    </div>
                </li>
                <li class="nav-item">
                    <!--ドロップダウンここまで-->
                    <a class="nav-link" href="#">リンクaa</a>
                </li>
                <li class="nav-item">
                    <!--ドロップダウンここまで-->
                    <a class="nav-link disable" href="#">リンク</a>
                </li>
            </ul>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                dddddd
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
</main>

<%- include('/Users/porcokafuka/projects/porcotasso.github.io/src/html/_partial/wrapper-foot') %>