<% var pageData = { pageTitle: "Code Memoaewrrgaaaw"} %>
<%- include('/Users/porcokafuka/projects/porcotasso.github.io/ejs/_partial/wrapper-head', pageData) %>

<main class="coding">
    <h1>htmlとcssのコーディング</h1>
    <p>作る際よく考えるのは、初見だとしても理解しやすくて、その時の気分で書き方が変わらないように誰が触っても同じルールに向かわせるような状態が理想です。自分の書いたものでも後々変更するときは基本的に忘れているのと、また共同で作業する場合も考えると、誰が触っても同じようになるのが現実的に重要なことのように思います。あと、このスタイルがどの範囲で使われているかわからないというのがとても困ります。すべてのページ、ブラウザを確認するのは無理なので、予想外の影響の可能性は出来るだけ減らしておく考えです。限定させる。smacss htmlとscssの階層を同じにしたBEMがとてもわかりやすい。最近はアジャイル方法で徐々に質を高めていく方法があるので、美しいより変更に強いコードのほうがいいんじゃないかなと思ってます。</p>
    <h2>BEM</h2>
    <p>aaaaaaacssの階層がとにかくながったらしくなるわけですが、基本cssを確認することはないです。</p>
    <h2>cssファイルの構成</h2>
    <p>リセットCSSはいろいろあるようですが、bootstrap-reboot.cssを参考にサイト用にカスタマイズしています。</p>
    <h2>フォント</h2>
    <p>aaaaaaa</p>
    <h2>Pタグ</h2>
    <p>line-height letter-space</p>
    <h2>リストタグ</h2>
    <p>aaaaaaa</p>
    <h2>モバイルの左右幅。ガターについて</h2>
    <h2>モバイルファーストについて</h2>
    <h2>ejsついて</h2>
    <h2>class名を書くかどうか</h2>
    <h2>bootstrap</h2>
    <h2>高等言語下等言語</h2>
    <h2>gulpfile.js package.json</h2>
    <h2>ローカルサーバnginx バーチャルホスト</h2>
    <h2>SVG</h2>
    <h2>本</h2>


</main>

<%- include('/Users/porcokafuka/projects/porcotasso.github.io/ejs/_partial/wrapper-foot') %>