<% var pageData = { pageTitle: "porco tasso"} %>
<%- include('/Users/porcokafuka/projects/porcotasso.github.io/src/_partial/wrapper-head', pageData) %>

<main class="home">
    <div class="home__icon">
        <img class="home__icon__image" src="/images/common/icon.jpg" alt="porco tasso">
    </div>
    <h2 class="home__name">porco tasso</h2>
    <p class="home__profile">ウェブサイトのフロントエンドエンジニアです。作ること全般が好きで、イラストやレタッチ、動画、３Dデータ作成などを経験して、今は楽しくサイト作成をしています。そしてこのサイトはまだ制作中です。</p>
        
    <ul class="home__menu">
        <li class="home__menu__cnt">
            <a href="" class="home__menu__cnt__box">
                <h3 class="home__menu__cnt__box__ttl">htmlとcssのコーディング</h3>
                <p class="home__menu__cnt__box__txt">ルールがあるものですが、それにしては人によって書き方はなかなか違ったりします。その理由を考えるに、どのコーダーにも構築するための哲学といっては大げさですが、形成の理由がなにかしら存在しているのだと思います。私の（とりあえず今）思う居心地がいいと思うコーディングについて</p>
            </a>
        </li>
        <li class="home__menu__cnt">
            <a href="" class="home__menu__cnt__box">
                <h3 class="home__menu__cnt__box__ttl">イラストと絵</h3>
                <p class="home__menu__cnt__box__txt">いつの間にか社会や人間関係のルールの中で窮屈に生きてしまうこともあるかと思いますが、絵を描くことは自分がルールで自由になれるので、芸術全般は自分個人を取り戻す行為なのではと思うのです。</p>
            </a>
        </li>
        <li class="home__menu__cnt">
            <a href="" class="home__menu__cnt__box">
                <h3 class="home__menu__cnt__box__ttl">昔してた３Dで何かをしたい</h3>
                <p class="home__menu__cnt__box__txt">絵を描きたいと思えなかくなったとき、偶然授業で触ることがあって、作るのがとても面白かった。</p>
            </a>
        </li>
        <li class="home__menu__cnt">
            <a href="" class="home__menu__cnt__box">
                <h3 class="home__menu__cnt__box__ttl">建築は創作知識の最大限の質が必要</h3>
                <p class="home__menu__cnt__box__txt">ルールがあるものですが、それにしては人によって書き方はなかなか違ったりします。きっと構築するための哲学といっては大げさかもしれないですが、そんな風にコーディングした理由がなにかしらどのサイトにも存在しているのだと思います。私の（とりあえず今）思う居心地がいいと思うコーディングについて</p>
            </a>
        </li>
        <li class="home__menu__cnt">
            <a href="" class="home__menu__cnt__box">
                <h3 class="home__menu__cnt__box__ttl">二胡</h3>
                <p class="home__menu__cnt__box__txt">ルールがあるものですが、それにしては人によって書き方はなかなか違ったりします。きっと構築するための哲学といっては大げさかもしれないですが、そんな風にコーディングした理由がなにかしらどのサイトにも存在しているのだと思います。私の（とりあえず今）思う居心地がいいと思うコーディングについて</p>
            </a>
        </li>
    </ul>

</main>

<%- include('/Users/porcokafuka/projects/porcotasso.github.io/src/_partial/wrapper-foot') %>